
:root{
    --color-black: #22242a;    
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: var(
        --color-black
    );
    width: 100%;
    height: 30px;
    padding: 20px;
    position: fixed;
}

.aria-esquerda h3 {
    color: #FFF;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
}

.btn-sair {
    color: #FFF;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    margin-top: -30px;
    background-color: #19b3d3;
    font-size: 15px;
    font-weight: 600;
    border-radius: 2px;
    padding: 5px 15px;
    transition-delay: 0.5;
    transition: 0.3s;
}

.btn-sair:hover {
    background-color: #0D9DBB;
}

.perfil {
    text-align: center;
}

.imagem-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}

nav {
    background-color: #2f323A;
    width: 250px;
    height: 100%;
    left: 0;
    position: fixed;
    margin-top: 70px;
    padding-top: 30px;
    transition: 0.4s;
}

nav h4 {
    color: #FFF;
    margin-top: 0;
    margin-bottom: 20px;
}

nav a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding-left: 40px;
    line-height: 80px;
    box-sizing: border-box;
}

nav i {
    margin-right: 10px;
}

nav a:hover {
    background-color: #19B3D3;
}

#chkMenu {
    display: none;
}

#btnMenu {
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
    position: fixed;
    left: 250px;
    top: 25px;
}

#btnMenu:hover {
    color: #19B3D3;
}

#chkMenu:checked~nav {
    left: -190px;
}

#chkMenu:checked~nav a {
    font-size: 22px;
    margin-left: 165px;
}

#chkMenu:checked~nav a span {
    display: none;
    transition-delay: 0.8s;
}

.conteudo {
    background-image: url('./fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}